**/bin
**/bin/**
**/obj
**/obj/**

**/.vs
**/.vs/**
**/.idea
**/.idea/**
**/.vscode
**/.vscode/**

**/TestResults
**/TestResults/**
**/coverage
**/coverage/**

.git
.git/**

*.user
*.suo
*.userosscache
*.